

<footer class="footer_section mt-5">
    <div class="container-fluid inner_section pt-5 position-relative"  >
        <div class="container sub_fluid position-relative" >
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="footer_box h-100 d-md-flex">
                        <div class="m-auto">
                            <div class="footerlogo text-start textcenter mb-3"><img src="assets/img/header/logowhite.svg" alt=""></div>
                            <div class="fs-16 text-white">We offer the Perfect ImgTemp Solution for your home to live Your Outdoor Dreams.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20"><span class="text-white ps-3">Quick Links</span></h2>
                        <ul class="links_footer list-unstyled p-0 m-0">
                            <li><a href="about.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>About Us</a></li>
                            <li><a href="services.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Services</a></li>
                            <li><a href="packages.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Packages</a></li>
                            <li><a href="blog.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Blog</a></li>
                            <li><a href="contacts.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20"><span class="text-white ps-3">Useful Links</span></h2>
                        <ul class="links_footer list-unstyled p-0 m-0">
                            <li><a href="privacy-policy.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Privacy Policy</a></li>
                            <li><a href="term-and-condition.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Terms &amp; Conditions</a></li>
                            <li><a href="disclaimer.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Disclaimer</a></li>
                            <li><a href="faq.html" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20"><span class="text-white ps-3">Get In Touch</span></h2>
                        <div class="row mx-0 gap-sm-3 gap-2 text-nowrap">
                            <div class="col-sm-12 col px-0">
                                <div class="text-white fs-14 mb-1">Need Help?</div>
                                <div class=""><a href="tel: +180012001500" class="text-decoration-none contectDetails text-theme2 fs-14 d-block">+1800 1200 1500</a></div>
                            </div>
                            <div class="col-sm-12 col px-0">
                                <div class="text-white fs-14 mb-1">Email Us At:</div>
                                <div class=""><a href="mailto: imgtemp@example.com" class="text-decoration-none contectDetails text-theme2 fs-14 d-block">ImgTemp@example.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-4 mt-5 gap-2 copyright">
                <div class="fs-12 text-secondary col text-sm-start text-center">Copyright © 2023 All rights reserved.</div>
                <div class="fs-12 text-secondary col-sm-auto text-sm-end text-center social_icon">
                    <ul class="socillinkfooter list-unstyled p-0 d-flex align-items-center gap-3 m-0">
                        <li><a href="https://www.facebook.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/fb.svg" alt="" class="w-100 h-100"></a></li>
                        <li><a href="https://twitter.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/twitter.svg" alt="" class="w-100 h-100"></a></li>
                        <li><a href="https://www.instagram.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/instagram.svg" alt="" class="w-100 h-100"></a></li>
                        <li><a href="https://www.linkedin.com/" class="text-decoration-none text-white mb-1 p-2 bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/linkedin.svg" alt="" class="w-100 h-100"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>