<nav class="navbar navbar-expand-lg  position-fixed w-100 py-md-3 py-2 top-0">
<div class="container">
	<a class="navbar-brand p-md-0 fw-medium blackLogo d-none" href="index.html"><img src="assets/img/header/logo.svg" alt="Logo" class="w-100 h-100"></a>
	<a class="navbar-brand p-md-0 fw-medium whiteLogo" href="index.html"><img src="assets/img/header/logowhite.svg" alt="Logo" class="w-100 h-100"></a>
		<div class="icone_list d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
			<img src="assets/img/header/menuBtn.svg" class="w-100" alt="">
		</div>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ms-auto align-items-center gap-3">
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white active" aria-current="page" href="index.html">Home</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">About Us</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Services</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Projects</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Contact Us</a></li>
			<li class="nav-item"><a href="javascript:;" class="download_btn text-white text-decoration-none">Sign In</a></li>
		</ul>
	</div>
</div>
</nav>

<div class="offcanvas offcanvas-start" data-bs-scroll="true"  data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
	<div class="offcanvas-header py-md-3 py-2">
		<h5 class="offcanvas-title my-1 tag_title" id="offcanvasWithBothOptionsLabel"><img src="assets/img/header/logo.svg" alt="Logo" class="h-100"></h5>
		<button type="button" class="closeBtn bg-transparent p-0 shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close"><img src="assets/img/header/close.svg" alt="" class="w-100"></button>
	</div>
	<div class="offcanvas-body p-4">
		<ul class="list-unstyled  tag_list">
			<li class="mb-3"><a href="index.html" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Home</a></li>
			<li class="mb-3"><a href="javascript:;" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">About Us</a></li>
			<li class="mb-3"><a href="javascript:;" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Services</a></li>
			<li class="mb-3"><a href="javascript:;" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Package</a></li>
			<li class="mb-3"><a href="javascript:;" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Blog</a></li>
			<li class="mb-3"><a href="javascript:;" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Contact Us</a></li>
		</ul>
	</div>
</div>
