<nav class="navbar navbar-expand-lg  position-fixed w-100 py-md-3 py-2 top-0">
<div class="container">
	<a class="navbar-brand p-md-0 fw-medium blackLogo d-none" href="index.html"><img src="assets/img/header/logo.svg" alt="Logo" class="w-100 h-100"></a>
	<a class="navbar-brand p-md-0 fw-medium whiteLogo" href="index.html"><img src="assets/img/header/logowhite.svg" alt="Logo" class="w-100 h-100"></a>
		<div class="icone_list d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
			<img src="assets/img/header/menuBtn.svg" class="w-100" alt="">
		</div>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ms-auto align-items-center gap-3">
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white active" aria-current="page" href="index.html">Home</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="about.html">About Us</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="services.html">Services</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="project.html">Projects</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="contacts.html">Contact Us</a></li>
			<li class="nav-item"><a href="javascript:;" class="download_btn text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Sign In</a></li>
		</ul>
	</div>
</div>
</nav>

<div class="offcanvas offcanvas-start" data-bs-scroll="true"  tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
	<div class="offcanvas-header py-md-3 py-2">
		<h5 class="offcanvas-title my-1 tag_title" id="offcanvasWithBothOptionsLabel"><img src="assets/img/header/logo.svg" alt="Logo" class="h-100"></h5>
		<button type="button" class="closeBtn bg-transparent p-0 shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close"><img src="assets/img/header/close.svg" alt="" class="w-100"></button>
	</div>
	<div class="offcanvas-body p-4">
		<ul class="list-unstyled  tag_list">
			<li class="mb-3"><a href="index.html" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Home</a></li>
			<li class="mb-3"><a href="about.html" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">About Us</a></li>
			<li class="mb-3"><a href="services.html" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Services</a></li>
			<li class="mb-3"><a href="project.html" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Projects</a></li>
			<li class="mb-3"><a href="blog.html" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Blog</a></li>
			<li class="mb-3"><a href="contacts.html" class="fs-14 d-flex w-100 text-uppercase fw-normal text-black text-decoration-none">Contact Us</a></li>
			<li class="mb-3"><a href="javascript:;" class="download_btn text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Sign In</a></li>
		</ul>
	</div>
</div>




<!-- *****************Login Modal************* -->
<div class="modal fade" id="exampleModalToggle" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	<div class="modal-content">
	<div class="modal-header border-0">
		<div class="modal-title fs-25 text-theme1  fw-bold" id="exampleModalToggleLabel">Sign Up</div>
		<button type="button" class="btn-close border-0 shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body contentForm">
		<form class="row mx-0 g-3 needs-validation" novalidate="">
			<div class="col-sm-6" >
				<input type="text" class="form-control border-0 text-black py-md-3 py-2 px-0 shadow-none rounded-0 fs-14" placeholder="Username" id="validationCustom001" required>
				<div class="invalid-feedback fs-10">Please enter valid username</div>
			</div>
			<div class="col-sm-6" >
				<input type="email" class="form-control border-0 text-black py-md-3 py-2 px-0 shadow-none rounded-0 fs-14" placeholder="Email" id="validationCustom002" required>
				<div class="invalid-feedback fs-10">Please provide a valid email.</div>
			</div>
			<div class="col-sm-6" >
				<input type="tel" class="form-control border-0 text-black py-md-3 py-2 px-0 shadow-none rounded-0 fs-14" placeholder="Contact Number" id="validationCustom003" required>
				<div class="invalid-feedback fs-10">Please provide a valid number.</div>
			</div>
			<div class="col-sm-6" >
				<input type="password" class="form-control border-0 text-black py-md-3 py-2 px-0 shadow-none rounded-0 fs-14" placeholder="Password" id="validationCustom004" required>
				<div class="invalid-feedback fs-10">Please enter password.</div>
			</div>
			<div class="col-12" >
				<input type="password" class="form-control border-0 text-black py-md-3 py-2 px-0 shadow-none rounded-0 fs-14" placeholder="Confirm Password" id="validationCustom005" required>
				<div class="invalid-feedback fs-10">Please enter Confirm password.</div>
			</div>
			<div class="col-12 mt-4 text-end" >
				<button class="download_btn main_btn border-0 shadow-none text-white" type="submit">SIGN UP</button>
			</div>
		</form>
	</div>
	<div class="modal-footer d-flex justify-content-end align-items-center border-0 pt-0">
		<div class="fs-12">Already Have an account?</div>
		<button class="btn text-theme1 ps-0 fs-14 shadow-none border-0" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Sign In</button>
	</div>
	</div>
</div>
</div>
	<div class="modal fade" id="exampleModalToggle2" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
		<div class="modal-header">
			<div class="modal-title fs-25 text-theme1 fw-bold" id="exampleModalToggleLabel2">Sign In</div>
			<button type="button" class="btn-close border-0 shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body contentForm">
			<form class="row mx-0 g-3 needs-validation" novalidate>
				<div class="col-12" >
					<input type="text" class="form-control border-0 text-black py-md-3 py-2 px-0 shadow-none rounded-0 fs-14" placeholder="Username" id="validationCustom006" required>
					<div class="invalid-feedback fs-10">Please enter valid username</div>
				</div>
				<div class="col-12" >
					<input type="password" class="form-control border-0 text-black py-md-3 py-2 px-0 shadow-none rounded-0 fs-14" placeholder="Password" id="validationCustom007" required>
					<div class="invalid-feedback fs-10">Please enter password.</div>
				</div>
				<div class="col-12">
					<a href="javascript:;" class="text-decoration-none fs-14 text-theme2">Forgot Password?</a>
				</div>
				<div class="col-12 mt-4 text-end" >
					<button class="download_btn main_btn border-0 shadow-none text-white" type="submit">SIGN IN</button>
				</div>
			</form>
		</div>
		<div class="modal-footer d-flex justify-content-end align-items-center border-0 pt-0">
			<div class="fs-12">Don't have an account?</div>
			<button class="btn text-theme1 ps-0 fs-14 shadow-none border-0" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Sign Up</button>
		</div>
		</div>
	</div>
</div>