@charset "UTF-8";

// *****************About Page****************************
.OtherPageTopSection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 9em 0em 0em 0em;
  & .inner_section {
    & .breadcrumbBox {
      & .breadcrumbs {
        height: 20vh;
        min-height: 100px;
      }
    }
  }
  &.AboutTopSection{
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/about/breadcrumb_bg.jpg);
  }
  &.ServicesTopSection {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.3) 100%), url(../img/services/serviceBg.jpg);
  }
  &.projectsTopSection {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.3) 100%), url(../img/projects/projectBg.jpg);
  }
  &.packagesTopSection {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.3) 100%), url(../img/package/packageBg.jpg);
  }
  &.contactTopSection {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/package/contectBg.jpg);
  }
  &.BlogTopSection {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/blogBg.jpg);
  }
  &.blogsPageSection {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/internetUser.jpg);
  }
  &.singalPostPage {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/group.jpg);
  }
  &.categoriesPage {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/Categories_bg.jpg);
    background-position: bottom;
  }
  &.faqSectionPage {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/faqBg.jpg);
  }
  &.disclaimerPage {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.3) 100%), url(../img/blog/disclaimerBg.jpg);
  }
  &.privacyPolicyPage {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/privacypolicyBg.jpg);
  }
  &.termsConditionPage {
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/termBg.jpg);
  }
}

// ****************page-name="gallerySection"**************

  .gallerySection {
    & .inner_section {
      & .box-container {
        & .box {
          & .galleryMainImage {
            transition: all ease-in-out 0.3s;
            & .glightImage {
            transition: all ease-in-out 0.3s;
            }
            & .openImg {
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 0px;
              height: 0px;
              background-color: rgba($black, 0.5);
              opacity: 0;
              visibility: hidden;
              transition: all ease-in-out 0.3s;
              & span {
                width: 50px;
                height: 50px;
                & img {
                  filter: brightness(100);
                }
              }
            }
            &:hover{
              & .openImg {
                width: 100%;
                height: 100%;
                border-radius: 0px !important;
                opacity: 1;
                visibility: visible;
              }
              & .glightImage {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }


// ******************breadcrumbs***********************
.breadcrumbBox {
  & .breadcrumbHeading {
    & span {
      position: relative;
      letter-spacing: 1px;
      &::before {
          content: '';
          width: 15px;
          height: 2px;
          background: $white;
          position: absolute;
          left: -9%;
          top: 50%;
          transform: translate(0% , -50%);
      }
      &::after {
        content: '';
        width: 15px;
        height: 2px;
        background: $white;
        position: absolute;
        right: -9%;
        top: 50%;
        transform: translate(0% , -50%);
    }
    }
  }
  & .breadcrumbs {
    & nav {
      & ul {
        background-color: rgba($black, 0.5);
        overflow: hidden;
        & li {
          font-weight: 600;
          &.active {
            color: $theme2;
            font-weight: 500;
          }
          & a {
            position: relative;
            &::after {
              content: '|';
              position: absolute;
              right: -10px;
              color: $white;
              top: 0;
            }
          }
        }
        &::before {
          content: '';
          position: absolute;
          margin: auto;
          inset: 0;
          filter: blur(10px);
        }
      }
      
    }
  }
}


//*****************Team***************
.textimonial {
  & .inner_section {
    & .teamCard {
      & .card {
        & .card-body {
          overflow: hidden;
          transition: all ease-in-out 0.3s;
          position: relative;
          &::before{
            content: '';
            position: absolute;
            top: 0%;
            left: 50%;
            height: 0%;
            width: 50%;
            transform: translate(-50%, 0%);
            background: rgba($black, 0.5);
            visibility: hidden;
            transition: all ease-in-out 0.3s;
          }
          & .icons {
            inset: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: all ease-in-out 0.3s;
          }
          &:hover {
            &::before {
              opacity: 1;
              height: 100%;
              width: 100%;
              visibility: visible;
            }
            & .icons {
              opacity: 1;
              transform: translateY(0px);
              visibility: visible;
            }
          }
        }
        & .usernameCard {
          margin-top: -50px;
          z-index: 1;
          box-shadow: 0px 0px 10px 0px rgba($black, 0.2);
          & .username {
            font-weight: 600;
          }
        }
        
      }
    }
  }
}

// **************Our Vision Section************
.ourVisionSection {
  background-image: linear-gradient(90deg, rgba($black, 0.8) 30%, rgba($black, 0.8) 100%), url(../img/about/visionBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// **********************Services Page**********************
.serviceWhyChoose {
  background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/about/serviceswhyBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  & .inner_section {
    & .contentForm{
      // backdrop-filter: blur(50px);
      background-color: rgba($white, 0.5);
      & .form-control , & .form-select {
        color: $black !important;
        border-color: $black !important;
        &::placeholder{
          color: $black !important;
        }
      }
      
    }
  }
}

// ****************Package Page****************
.packageClientSection {
    & .inner_section {
      & .contentSide {
        & .accordion {
          & .accordion-item {
            & .accordion-header {
              & .accordion-button {
                font-weight: 600;
                border-bottom: 1px solid $theme2 !important;
                &:not(.collapsed){
                  background: $white !important;
                  color: $theme2 !important;
                  &::after{
                    // filter: brightness(100);
                    content: '-';
                    background-image: none;
                    transform: none;
                    font-size: 25px;
                  }
                }
                &::after {
                  content: '+';
                    background-image: none;
                    transform: none;
                    font-size: 25px;
                }
              }
            }
          }
        }
      }
    }
}


// **********************Contact Us Page******************
.contactsSection {
  & .inner_section {
    & .cardsection {
      & .card {
        border: 1px dotted $theme2 !important;
        & .card-body {
          & .chooseList {
            height: 60px;
            width: 60px;
            z-index: 2;
            box-shadow: 0px 0px 10px 0px rgba($black, 0.2) !important;
            transition: all ease-in-out 0.3s;
            & img {
              transition: all ease-in-out 0.3s;
            }
            &:hover{
              background-color: $theme2 !important;
              & img {
                filter: brightness(100);
                transform: scale(1.1);
              }
            }
          }
          & .dashBorder {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-bottom: 2px dashed rgba($theme1, 0.1);
            z-index: 1;
          }
        }
        & .subBody {
          & .card-text {
            transition: all 0.3s;
          }
        }
        &:hover {
          & .subBody {
            & .card-text {
              color: $theme1 !important;
            }
          }
        }
      }
    }
  }
}

.contactMapSection {
  & .inner_section {
    & .contentForm {
      backdrop-filter: blur(50px);;
    }
  }
}

// ****************Blog**************
.blogSection {
  & .inner_section {
    & .singalBlogmainImage{
      min-height: 250px;
      & img {
        object-fit: cover;
      }
    }
    & .blogMainImage {
      cursor: pointer;
      transition: all ease-in-out 0.5s;
      &::before{
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        height: 1000%;
        width: 0%;
        background: rgba($white, 0.2);
        transition: all ease-in-out 0.3s;
        opacity: 0;
        visibility: hidden;
        transition: all ease-in-out 0.5s;
      }
      &:hover{
        &::before {
          opacity: 1;
          left: 100%;
          width: 100%;
          visibility: visible;
        }
      }
      &.glightBoxVideo{
        &::before{
          inset: 0;
          width: 100%;
          background: rgba($black, 0.4);
          opacity: 1 !important;
          visibility: visible !important;
        }
      }
    }
    & .leftSide {
      & .teamCard {
        & .card {
          cursor: unset;
          border-radius: 0px !important;
          & .card-body {
            // height: 300px;
            min-height: 250px;
            border-radius: 0px !important;
            overflow: hidden;
            transition: all ease-in-out 0.3s;
            position: relative;
            &::before{
              content: '';
              position: absolute;
              top: 0%;
              left: 0%;
              height: 100%;
              width: 100%;
              background: rgba($black, 0.4);
              transition: all ease-in-out 0.3s;
            }
          }
          & .icons {
            right: 20px;
            bottom: 21px;
            // opacity: 0;
            // visibility: hidden;
            // transform: translateY(10px);
            transition: all ease-in-out 0.3s;
            z-index: 3;
            & .socillinkfooter {
              z-index: 2;
              & li {
                & a {
                  width: 30px;
                  height: 30px;
                  margin: 0px !important;
                }
              }
            }
          }
          & .innerBody {
            bottom: 14%;
            left: 0%;
            transition: all  ease-in-out 0.3s;
            
          }
          & .readmorebtnPrent {
            margin: -73px 0px 0px 0px;
            transition: all  ease-in-out 0.3s;
            z-index: 2;
            & .readMoreBtn  {
              color: $white !important;
            }
          }
          & .card-img-top {
            object-fit: cover;
          border-radius: 0px !important;
          }
          // &:hover {
          //   & .icons {
          //     opacity: 1;
          //     transform: translateY(0px);
          //     visibility: visible;
          //   }
          //   & .readmorebtnPrent {
          //     margin: -73px 0px 0px 0px;
          //   }
          // }
          &.active {
            & .readmorebtnPrent {
              margin: -73px 0px 0px 0px;
            }
            & .icons {
              visibility: visible;
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
      & .singalPostcommunicate {
        & li {
          &::marker {
            color: $theme2 !important;
            font-size: 18px;
          }
        }
      }
    }
    & .rightSideBar {
      & .sideBarCard {
        & .card {
          box-shadow: 0px 0px 10px 0px rgba($black, 0.1);
          & .card-body {
            & .sideBarheading {
              display: inline-block;
              padding-left: 1rem !important;
              position: relative;
              letter-spacing: 1.5px;
              padding-left: 1rem;
              &::after{
                  content: "";
                  width: 4px;
                  height: 20px;
                  background: $theme1;
                  position: absolute;
                  left: 0px;
                  top: 50%;
                  transform: translate(-0%, -50%);
              }
            }
            & .input-group {
              & .form-control {
                background: transparent;
                border-bottom: 1px solid $theme2 !important;
                  &:focus-visible{
                    border-color: $theme1;
                  }
                  &::placeholder{
                    color: rgba($black, 0.3);
                  }
                }
              & .input-group-text {
                & .searchBtn {
                  width: 32px;
                  background: transparent !important;
                  border-bottom: 1px solid $theme2 !important;
                  & img {
                    // filter: brightness(100);
                  }
                }
              }
            }
            & .caregorie {
              & li {
                border-bottom: 0.6px solid rgba($black, 0.1);
                & .caregorieLink {
                  transition: all ease-in-out 0.3s;
                  &::before {
                    content: '+';
                    position: absolute;
                    left: 0px;
                    top: 1px;
                  }
                  &.active {
                    color: $theme2 !important;
                    letter-spacing: 1px;
                  }
                  &:hover {
                    color: $theme2 !important;
                  }
                }
              }
            }
            & .userPost {
              & .userImg {
                height: 80px;
                width: 80px;
                overflow: hidden;
                transition: all ease-in-out 0.3s;
                & img {
                  object-fit: cover;
                  transition: all ease-in-out 0.3s;
                }
                &::before {
                  content: '';
                  inset: 0;
                  position: absolute;
                  background-color: rgba($black, 0.3);
                  opacity: 0;
                  transition: all ease-in-out 0.3s;
                }
                &:hover {
                  & img {
                    transform: scale(1.1);
                  }
                  &::before {
                    opacity: 1;
                    z-index: 2;
                  }
                }
              }
              & .postLink {
                transition: all ease-in-out 0.3s;
                &:hover {
                  color: $theme2 !important;
                }
              }
            }
            & .tagsGroup {
              & .tagslink {
                  transition: all ease-in-out 0.3s;
                  border-radius: 4px !important;
                  & a {
                    transition: all ease-in-out 0.3s;
                  }
                &:hover {
                  background-color: $theme2 !important;
                  & a {
                    color: $white !important;
                    letter-spacing: 1px;
                  }
                }
              }
            }
            & .contactBlog {
              & .iconImg {
                height: 30px;
              }
              & > div {
                &:first-child {
                  padding: 0px !important;
                }
              }
              & .postLink {
                transition: all ease-in-out 0.3s;
                &:hover {
                  color: $theme2 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.navTabPerent{
  & .navTabs {
    flex-wrap: nowrap;
    overflow: auto hidden;
    gap: 15px;
    & .nav-item {
      & .nav-link {
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid transparent;
        &.active {
          color: $theme2 !important;
          background: $white;
          border-color: rgba($black, 0.8);
          letter-spacing: 1px;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    height: 6px;
    margin: 20px 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $theme2;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $theme2;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $theme2;
    cursor: pointer;
  }
}

// *******************Pagination*******************
.pagination {
  & .page-item {
    & .page-link {
      color: $black;
      border: 0px;
      border-radius: 0px;
      width: 35px;
      height: 35px;
      transition: all ease-in-out 0.3s;
      &.next {
        width: auto;
      }
      &:hover {
        background: $theme2;
        color: $white;
      }
    }
    &.active {
      & .page-link{
        color: $white;
        background: $theme2;
        border-color: $theme2;
      }
    }
  }
}

// ************************Blogs Page*********************
.blogspageSection {
  & .inner_section {
    & .teamCard {
      & .leftSide {
        & .imagsection {
            height: 300px;
          & img {
            object-fit: cover;
          }
        }
        & .lisumcard {
          box-shadow: 0px 0px 10px 0px rgba($black, 0.1);
        }
        & .sideBarheading {
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 20px;
            height: 2px;
            background-color: rgba($theme2, 0.8);
          }
        }
      }
    }
  }
}


// ********************FAQ Page*************************

.fagPage {
  & .inner_section {
    & .accordion {
      & .accordion-item {
        & .accordion-header {
          & .accordion-button {
            font-weight: 600;
            border-bottom: 1px solid $theme2 !important;
            &:not(.collapsed){
              background: $white !important;
              color: $theme2 !important;
              &::after{
                // filter: brightness(100);
                content: '-';
                background-image: none;
                transform: none;
                font-size: 25px;
              }
            }
            &::after {
              content: '+';
                background-image: none;
                transform: none;
                font-size: 25px;
            }
          }
        }
      }
    }
  }
}

// ******************Disclaimer Page***********
.disclaimerPageSection {
  & .inner_section {
    & ul {
      & li {
        &::marker {
          color: $theme2 !important;
          font-size: 18px;
        }
      }
    }
    & .disclaimerCaseImg {
      width: 100px;
      height: 100px;
    }
  }
}

// ************************Privacy Policy****************
.policysAndTremPage {
  & .inner_section{
    & .card {
      box-shadow: 0px 0px 10px 0px rgba($black, 0.1);
      background-color: rgba($theme1, 0.08);
    }
    & ul {
      & > li {
        &::marker {
          color: $theme2;
          font-size: 18px;
        }
        & ol {
          & li {
            &::marker {
              color: $theme2;
              font-size: 100%;
            }
          }
        }
      }
    }
}
}

// ******************404 Error**************
.error404Page {
  // height: calc(100vh - 10px);
    background-image: linear-gradient(90deg, rgba($black, 0.5) 30%, rgba($black, 0.5) 100%), url(../img/blog/404.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    & .inner_section{
      & .errorNumber {
        font-size: 150px;
      }
    }
  
}

// -------------------Responsive---------------------
@media only screen and (max-width: 767.99px) {
  [page-name="gallerySection"] {
    &.gallerySection {
      & .inner_section {
        & .box-container {
          & .box {
            & .galleryMainImage {
                & .openImg {
                  & span {
                    width: 30px;
                    height: 30px;
                  }
                }
            }
          }
        }
      }
    }
  }
  .disclaimerPageSection {
    & .inner_section {
      & .disclaimerCaseImg {
        width: 80px;
        height: 80px;
      }
    }
  }
  .error404Page {
      & .inner_section{
        & .errorNumber {
          font-size: 100px;
        }
      }
    
  }
}
@media only screen and (max-width: 575.99px) {
.blogSection {
  & .inner_section {
    & .leftSide {
      & .teamCard{
        & .card{
          & .icons{
            bottom: 13px;
          }
        }
      }
    }
  }
}
  .disclaimerPageSection {
    & .inner_section {
      & .disclaimerCaseImg {
        width: 60px;
        height: 60px;
      }
    }
  }
}
